<h1>This is the login page</h1><br>

<div class="LinkedIn-button" style="margin-left: 170px;">
  <a href="/auth/LinkedIn" class="auth_provider">
    <button class="btn btn-LinkedIn"><i class="icon-LinkedIn"></i> Connect with LinkedIn</button>
  </a>
</div>
