<div id="LinkedIn-button">
  <h1>Welcome to Advise Me Wisely!</h1><br>
  <a href="/auth/LinkedIn" class="auth_provider">
    <button class="btn btn-LinkedIn"><i class="icon-LinkedIn"></i> Connect with LinkedIn</button>
  </a>
</div>
