
<div id="wrapper">
  <div id="sidebar_wrapper">
    <button id="protegeButton">Become a protege</button><br>
    <button id="adviserButton">Become an adviser</button>
  </div>

  <%= render :partial => "users/users" %>

</div>
