// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#card {
  height: 120px;
  width: 400px;
  border: solid black 2px;
}
#contact {
  height: 99px;
  width: 99px;
  background-color: blue;
  color: white;
  float: right;

}