// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  margin: 10px;
}

#info {
  display: inline-block;
}

.role {
  display: inline-block;
  position: relative;
  float: right;
  right: 0;
  top: 0;
  font-size: 30px;
}

#username {
  font-size: 20px;
}

#image {
  margin-right: 20px;
  float: left;
}

#status {
  margin: 15px;
  font-size: 18px;
}

#LinkedIn-button {
  text-align: center;

}

#protegeButton {
  margin: 10px;
}

#adviserButton {
  margin: 10px;
}

#contact {
  text-align: center;
}

body {
  padding: 70px;
  background-color: #ecf0f1;
}

#wrapper {
  padding-left: 250px;
  background-color: #ecf0f1;
}

#sidebar_wrapper {
  margin-top: -20px;
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #3498db;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.card {
  height: 180px;
  width: 675px;
  border: solid black 2px;
  margin-bottom: 25px;
  background-color: #16a085;
  color: white;
  padding: 5px;
}

#sign_out {
  color: white;
}
